In [1]:
# Preprocessing before being input into the Keras-Python code

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import clear_output
from time import sleep
import os

In [2]:
# input the VIA annotation cvs file here
csv_path = 'via_export_csv_train_mod.csv'
csv_data = pd.read_csv(csv_path)

In [3]:
csv_data.head()

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,0,"{""name"":""point"",""cx"":130,""cy"":127}",{}
1,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,1,"{""name"":""point"",""cx"":146,""cy"":126}",{}
2,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,2,"{""name"":""point"",""cx"":156,""cy"":127}",{}
3,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,3,"{""name"":""point"",""cx"":193,""cy"":145}",{}
4,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,4,"{""name"":""point"",""cx"":203,""cy"":148}",{}

In [4]:
# extract cx, cy value from region_shape_attributes text string
csv_data['cx'] = csv_data.region_shape_attributes.str.extract('name":"point","cx":([^,"cy"]*)')
csv_data['cy'] = csv_data.region_shape_attributes.str.extract(',"cy":([^}]*)')
csv_data.head()

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes,cx,cy
0,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,0,"{""name"":""point"",""cx"":130,""cy"":127}",{},130,127
1,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,1,"{""name"":""point"",""cx"":146,""cy"":126}",{},146,126
2,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,2,"{""name"":""point"",""cx"":156,""cy"":127}",{},156,127
3,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,3,"{""name"":""point"",""cx"":193,""cy"":145}",{},193,145
4,trainimg_1.jpg,23976,"{""series"":"""",""frame_id"":""""}",16,4,"{""name"":""point"",""cx"":203,""cy"":148}",{},203,148

In [5]:
# create a pivot table to combine data such that one row has all data for a given image
pivoted = csv_data.pivot(index='filename', columns='region_id', values=['cx','cy'])

In [6]:
pivoted.to_csv (r'export_dataframe.csv', index = True, header=True)

In [7]:
#order and rename columns in the format (0x,0y; 1x,1y; 2x,2y...;15x,15y)
csv_path_final = 'export_dataframe.csv'
csv_final = pd.read_csv(csv_path_final)  

csv_final = csv_final[['cx', 'cy', 'cx.1', 'cy.1', 'cx.2', 'cy.2', 'cx.3', 'cy.3', 'cx.4', 'cy.4', 'cx.5', 'cy.5', 'cx.6', 'cy.6', 'cx.7', 'cy.7', 'cx.8', 'cy.8', 'cx.9', 'cy.9', 'cx.10', 'cy.10', 'cx.11', 'cy.11', 'cx.12', 'cy.12', 'cx.13', 'cy.13', 'cx.14', 'cy.14', 'cx.15', 'cy.15', 'Unnamed: 0']]
csv_final.rename(columns={'cx': "0x", 'cy': '0y', 'cx.1': '1x', 'cy.1': '1y', 'cx.2': '2x', 'cy.2': '2y', 'cx.3': '3x', 'cy.3': '3y', 'cx.4': '4x', 'cy.4': '4y', 'cx.5': '5x', 'cy.5': '5y', 'cx.6': '6x', 'cy.6': '6y', 'cx.7': '7x', 'cy.7': '7y', 'cx.8': '8x', 'cy.8': '8y', 'cx.9': '9x', 'cy.9': '9y', 'cx.10': '10x', 'cy.10': '10y', 'cx.11': '11x', 'cy.11': '11y', 'cx.12': '12x', 'cy.12': '12y', 'cx.13': '13x', 'cy.13': '13y', 'cx.14': '14x', 'cy.14': '14y', 'cx.15': '15x', 'cy.15': '15y', 'Unnamed: 0': 'image'}, inplace=True)

In [8]:
#drop first two rows to show relevant data
csv_final.drop(index=[0,1], inplace=True)

In [9]:
csv_final.to_csv (r'export_dataframe.csv', index = True, header=True)

In [10]:
df = pd.read_csv('export_dataframe.csv')
first_column = df.columns[0]

In [11]:
# Delete first column
df = df.drop([first_column], axis=1)

In [12]:
df.to_csv('export_dataframe.csv', index=False)
print (df)

       0x     0y     1x     1y     2x     2y     3x     3y     4x     4y  \
0   130.0  127.0  146.0  126.0  156.0  127.0  193.0  145.0  203.0  148.0
1   109.0  151.0  116.0  143.0  125.0  141.0  148.0  126.0  159.0  117.0
2    93.0  131.0  109.0  129.0  128.0  131.0  155.0  127.0  166.0  124.0
3   121.0  120.0  138.0  116.0  150.0  120.0  185.0  136.0  192.0  132.0
4   100.0  134.0  112.0  132.0  123.0  131.0  162.0  127.0  173.0  121.0
5    92.0  137.0  111.0  133.0  124.0  132.0  162.0  120.0  175.0  118.0
6   102.0  139.0  111.0  132.0  122.0  129.0  163.0  124.0  172.0  124.0
7   102.0  140.0  112.0  132.0  127.0  129.0  159.0  124.0  177.0  116.0
8    98.0  138.0  106.0  130.0  121.0  129.0  157.0  122.0  166.0  116.0
9    95.0  138.0  109.0  135.0  118.0  131.0  156.0  123.0  164.0  121.0
10   64.0  140.0   78.0  134.0   96.0  138.0  152.0  142.0  170.0  140.0
11  108.0  163.0  114.0  155.0  119.0  151.0  145.0  131.0  152.0  123.0
12   60.0  115.0   76.0  108.0   94.0  113.0  166.0  114.0  183.0  109.0
13   59.0  118.0   78.0  112.0  104.0  111.0  156.0  110.0  175.0  109.0
14   53.0  130.0   76.0  130.0   90.0  131.0  157.0  131.0  172.0  128.0
15   61.0  129.0   74.0  128.0   85.0  130.0  155.0  130.0  166.0  128.0
16  104.0  125.0  113.0  118.0  136.0  121.0  201.0  119.0  224.0  122.0
17   76.0  135.0   97.0  127.0  118.0  135.0  172.0  130.0  199.0  131.0
18   77.0  135.0   96.0  131.0  108.0  131.0  178.0  130.0  196.0  127.0
19   90.0  118.0  118.0  115.0  130.0  117.0  188.0  114.0  212.0  117.0
20   92.0  117.0  110.0  113.0  122.0  113.0  197.0  120.0  205.0  120.0
21  104.0  142.0  115.0  135.0  129.0  135.0  174.0  131.0  187.0  131.0
22  103.0  135.0  115.0  131.0  126.0  133.0  166.0  131.0  178.0  126.0
23   70.0  130.0   81.0  128.0   92.0  129.0  128.0  136.0  139.0  136.0
24   91.0  128.0  111.0  132.0  132.0  131.0  170.0  123.0  184.0  124.0
25  101.0  157.0  114.0  154.0  121.0  157.0  161.0  154.0  173.0  153.0
26   88.0  130.0   95.0  126.0  110.0  128.0  140.0  129.0  157.0  120.0
27   95.0  133.0  112.0  124.0  122.0  124.0  159.0  131.0  175.0  128.0
28   96.0  132.0  112.0  130.0  122.0  132.0  155.0  144.0  173.0  146.0
29   97.0  107.0  107.0   93.0  121.0  103.0  161.0  101.0  174.0   98.0
30   90.0  112.0   97.0  105.0  104.0  103.0  139.0   81.0  151.0   79.0
31   85.0   90.0  104.0   91.0  123.0   91.0  160.0   92.0  170.0   92.0
32  118.0  123.0  139.0  117.0  155.0  116.0  190.0  114.0  200.0  112.0
33   98.0  137.0  107.0  133.0  122.0  129.0  162.0  131.0  174.0  125.0
34   95.0  107.0  108.0   95.0  119.0  100.0  160.0  101.0  173.0   92.0
35   93.0  132.0  106.0  125.0  121.0  125.0  152.0  122.0  169.0  122.0
36  108.0  139.0  123.0  133.0  133.0  134.0  169.0  134.0  186.0  127.0
37  107.0  113.0  119.0  108.0  135.0  106.0  177.0  107.0  186.0  107.0
38  106.0  122.0  120.0  120.0  133.0  117.0  176.0  116.0  183.0  116.0
39  109.0  124.0  122.0  118.0  137.0  119.0  171.0  120.0  183.0  114.0
40   90.0  118.0   99.0  114.0  110.0  112.0  152.0  105.0  164.0  101.0
41  103.0  127.0  123.0  118.0  138.0  125.0  165.0  124.0  179.0  115.0
42  119.0  168.0  130.0  169.0  138.0  171.0  168.0  173.0  179.0  171.0
43  129.0  114.0  138.0  114.0  147.0  118.0  167.0  120.0  173.0  119.0
44  103.0  145.0  113.0  135.0  123.0  135.0  155.0  129.0  164.0  120.0
45  102.0  121.0  112.0  116.0  124.0  116.0  161.0  119.0  175.0  112.0
46  103.0  156.0  107.0  147.0  118.0  143.0  141.0  132.0  151.0  123.0
47  139.0  128.0  153.0  128.0  163.0  132.0  196.0  148.0  208.0  150.0
48  140.0  123.0  156.0  123.0  170.0  130.0  198.0  138.0  217.0  144.0
49  108.0  134.0  115.0  130.0  122.0  130.0  152.0  122.0  161.0  118.0

         ...           11y    12x    12y    13x    13y    14x    14y    15x  \
0        ...         181.0  195.0  217.0  164.0  247.0  111.0  209.0   78.0
1        ...         173.0  209.0  211.0  156.0  240.0  131.0  230.0  112.0
2        ...         177.0  196.0  211.0  171.0  250.0  120.0  238.0   65.0
3        ...         183.0  188.0  218.0  161.0  249.0  111.0  222.0   66.0
4        ...         193.0  211.0  220.0  158.0  250.0  118.0  235.0  102.0
5        ...         187.0  214.0  224.0  162.0  246.0  113.0  223.0   96.0
6        ...         193.0  213.0  220.0  160.0  248.0  120.0  229.0   98.0
7        ...         186.0  210.0  213.0  171.0  237.0  121.0  227.0  101.0
8        ...         185.0  205.0  215.0  150.0  246.0  111.0  217.0   95.0
9        ...         191.0  212.0  213.0  173.0  236.0  123.0  230.0   99.0
10       ...         228.0  191.0  267.0   96.0  292.0   53.0  253.0   44.0
11       ...         162.0  220.0  209.0  169.0  248.0  131.0  224.0  120.0
12       ...         204.0  216.0  227.0  139.0  252.0   67.0  237.0   33.0
13       ...         199.0  221.0  227.0  148.0  263.0   66.0  239.0   31.0
14       ...         188.0  215.0  238.0  140.0  274.0   57.0  248.0   19.0
15       ...         189.0  213.0  238.0  140.0  279.0   55.0  243.0   27.0
16       ...         160.0  249.0  220.0  197.0  270.0  119.0  265.0   53.0
17       ...         197.0  224.0  235.0  153.0  268.0   86.0  253.0   45.0
18       ...         187.0  225.0  238.0  138.0  274.0   89.0  255.0   42.0
19       ...         177.0  233.0  229.0  170.0  261.0  105.0  233.0   56.0
20       ...         193.0  243.0  228.0  166.0  258.0   94.0  232.0   45.0
21       ...         187.0  214.0  215.0  160.0  249.0  113.0  226.0   95.0
22       ...         164.0  214.0  200.0  162.0  237.0  108.0  214.0   96.0
23       ...         189.0  147.0  227.0   91.0  238.0   66.0  209.0   52.0
24       ...         180.0  194.0  230.0  136.0  248.0   77.0  215.0   71.0
25       ...         192.0  193.0  226.0  153.0  259.0  103.0  236.0   86.0
26       ...         166.0  161.0  189.0  130.0  212.0   90.0  194.0   80.0
27       ...         177.0  178.0  205.0  138.0  235.0  100.0  210.0   66.0
28       ...         206.0  172.0  234.0  131.0  247.0   95.0  215.0   83.0
29       ...         178.0  190.0  222.0  152.0  252.0  103.0  229.0   91.0
30       ...         127.0  218.0  165.0  174.0  202.0  139.0  189.0  110.0
31       ...         153.0  181.0  185.0  138.0  203.0  101.0  190.0   68.0
32       ...         167.0  214.0  195.0  181.0  233.0  134.0  203.0  109.0
33       ...         166.0  204.0  218.0  155.0  254.0  101.0  220.0   90.0
34       ...         162.0  191.0  196.0  154.0  212.0  118.0  208.0   88.0
35       ...         192.0  176.0  223.0  141.0  240.0  103.0  218.0   85.0
36       ...         187.0  203.0  222.0  171.0  248.0  140.0  234.0  119.0
37       ...         182.0  197.0  210.0  160.0  227.0  121.0  214.0   99.0
38       ...         171.0  193.0  198.0  154.0  225.0  118.0  209.0   89.0
39       ...         172.0  194.0  200.0  155.0  227.0  121.0  205.0   96.0
40       ...         163.0  182.0  185.0  157.0  223.0  111.0  210.0   90.0
41       ...         165.0  194.0  190.0  159.0  216.0  114.0  196.0   94.0
42       ...         214.0  197.0  235.0  152.0  265.0  116.0  241.0   96.0
43       ...         169.0  184.0  184.0  144.0  202.0  129.0  177.0  121.0
44       ...         175.0  224.0  210.0  170.0  251.0  122.0  215.0  111.0
45       ...         180.0  188.0  222.0  141.0  246.0  103.0  220.0   94.0
46       ...         165.0  225.0  203.0  167.0  252.0  131.0  227.0  115.0
47       ...         187.0  200.0  230.0  162.0  259.0  104.0  217.0   76.0
48       ...         196.0  200.0  229.0  160.0  263.0  104.0  211.0   77.0
49       ...         180.0  213.0  211.0  156.0  233.0  119.0  213.0  108.0

      15y            image
0   182.0   trainimg_1.jpg
1   192.0  trainimg_10.jpg
2   225.0  trainimg_11.jpg
3   195.0  trainimg_12.jpg
4   204.0  trainimg_13.jpg
5   199.0  trainimg_14.jpg
6   199.0  trainimg_15.jpg
7   206.0  trainimg_16.jpg
8   185.0  trainimg_17.jpg
9   204.0  trainimg_18.jpg
10  188.0  trainimg_19.jpg
11  195.0   trainimg_2.jpg
12  200.0  trainimg_20.jpg
13  204.0  trainimg_21.jpg
14  199.0  trainimg_22.jpg
15  210.0  trainimg_23.jpg
16  205.0  trainimg_24.jpg
17  214.0  trainimg_25.jpg
18  218.0  trainimg_26.jpg
19  212.0  trainimg_27.jpg
20  204.0  trainimg_28.jpg
21  198.0  trainimg_29.jpg
22  176.0   trainimg_3.jpg
23  179.0  trainimg_30.jpg
24  183.0  trainimg_31.jpg
25  195.0  trainimg_32.jpg
26  176.0  trainimg_33.jpg
27  168.0  trainimg_34.jpg
28  197.0  trainimg_35.jpg
29  198.0  trainimg_36.jpg
30  172.0  trainimg_37.jpg
31  162.0  trainimg_38.jpg
32  182.0  trainimg_39.jpg
33  185.0   trainimg_4.jpg
34  181.0  trainimg_40.jpg
35  196.0  trainimg_41.jpg
36  203.0  trainimg_42.jpg
37  194.0  trainimg_43.jpg
38  175.0  trainimg_44.jpg
39  193.0  trainimg_45.jpg
40  182.0  trainimg_46.jpg
41  170.0  trainimg_47.jpg
42  210.0  trainimg_48.jpg
43  154.0  trainimg_49.jpg
44  181.0   trainimg_5.jpg
45  176.0  trainimg_50.jpg
46  190.0   trainimg_6.jpg
47  183.0   trainimg_7.jpg
48  184.0   trainimg_8.jpg
49  186.0   trainimg_9.jpg

[50 rows x 33 columns]

In [13]:
df = pd.read_csv('export_dataframe.csv')